[Unit]
Description=Cloudflare DDNS updater
Documentation=https://github.com/Shimamotogit/cloudflare-ddns-systemd
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=5min
StartLimitBurst=3

[Service]
Type=oneshot
User=cloudflare-ddns
Group=cloudflare-ddns
ExecStart=/usr/local/bin/cloudflare-ddns
LoadCredential=cloudflare_api_token:/etc/cloudflare-ddns/token

StateDirectory=cloudflare-ddns
StateDirectoryMode=0700
RuntimeDirectory=cloudflare-ddns
RuntimeDirectoryMode=0700
UMask=0077
TimeoutStartSec=90s

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes

StandardOutput=journal
StandardError=journal
SyslogIdentifier=cloudflare-ddns
